<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<head>
    <title>회원 정보 수정</title>


    <link href="/static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet">

</head>

<body layout:fragment="content">
    <main>
        <div class="py-4 bg-body-tertiary">
            <div class="container form-signin w-100 m-auto">
                <form th:object="${PasswordChangeDto}" th:action=@{/members/password} action="#" method="post">
                    <h1 class="h3 mb-3 fw-normal">비밀번호 변경</h1>

                    <div class="form-floating">
                        <input type="password" name="password1" class="form-control" id="password1"
                            placeholder="Password">
                        <label for="password" th:unless="${#fields.hasErrors('password1')}">비밀번호</label>
                        <label style="color: red;" for="password1" th:if="${#fields.hasErrors('password1')}"
                            th:errors="*{password1}"></label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password2" class="form-control" id="password2"
                            placeholder="Password">
                        <label for="password" th:unless="${#fields.hasErrors('password2')}">한 번 더 입력해주세요</label>
                        <label style="color: red;" for="password2" th:if="${#fields.hasErrors('password2')}"
                            th:errors="*{password2}"></label>
                    </div>
                    <!-- 글로벌 에러 -->
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p style="color: red;" class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                    </div>

                    <button class="btn btn-primary w-100 py-2" type="submit">변경</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>