<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/default}">

<head>
    <title>마이페이지</title>
</head>

<body layout:fragment="content">
    <main>

        <!-- 상단 대문 메시지 영역 -->
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p>
                        <!-- OAuth2 회원 아닐때만 보임 -->
                        <a th:if="${not OAuth2User}" href="/templates/members/changePassword.html" th:href="@{/members/password}" class="btn btn-primary">비밀번호 변경</a>
                        <a class="btn btn-danger" onclick="confirmAndResign()">회원탈퇴</a>                        
                    </p>
                </div>
            </div>
        </section>

    </main>

    <!-- Resign Member -->
    <script>
        function confirmAndResign() {
            var confirmation = confirm("정말 탈퇴하시겠습니까?");
            if (confirmation) {
                sendResignRequest();
            }
        }

        function sendResignRequest() {
            var xhr = new XMLHttpRequest();

            xhr.open("GET", "/members/resign", true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // console.log("Resignation successful");
                    window.location.href = "/";
                } else {
                    // console.log("Resignation fail");
                    window.location.href = "/";
                }
            };

            xhr.send();
        }

    </script>
</body>

</html>