<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1"><b>INSTAWEB-V2</b></p>
            <p class="mb-0">visit <a href="https://github.com/LSH3333?tab=repositories" target="_blank">github</a> and
                <a href="https://tose33.tistory.com/" target="_blank">blog</a>
            </p>
        </div>
    </footer>
</div>

</html>