<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-bs-theme="auto"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/default}">

<head>
    <title>Write</title>


    <!-- ckeditor5 -->
    <link rel="icon" type="image/png" href="https://c.cksource.com/a/1/logos/ckeditor5.png">
    <link rel="stylesheet" type="text/css" href="/static/css/ckeditor5.css" th:href="@{/css/ckeditor5.css}">

    <!-- ckeditor5 -->
    <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 800px;
            max-height: 800px;
            min-width: 860px;
        }

        /*Toolbar*/
        .ck-editor__top {
            min-width: 860px;
        }
    </style>
</head>

<body layout:fragment="content">
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <!-- ckeditor -->
                <div class="centered">
                    <div class="row row-editor">
                        <div class="editor-container">
                            <div class="editor">
                            </div>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-primary">Primary</button> -->
                    <a href="/templates/index.html" th:href="@{/}" id="submitAnchor"><button
                            id="submit">submit</button></a>
                </div>

            </div>
        </div>
    </main>


    <!-- ckeditor5 -->
    <script src="/static/ckeditor5/build/ckeditor.js" th:src="@{/ckeditor5/build/ckeditor.js}"></script>
    <script src="/static/js/ckeditor/main.js" th:src="@{/js/ckeditor/main.js}"></script>
</body>

</html>