<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-bs-theme="auto"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/default}">

<head>
    <title>글 작성</title>

    <!-- ckeditor5 -->
    <link rel="stylesheet" type="text/css" href="/static/css/ckeditor5.css" th:href="@{/css/ckeditor5.css}">

    <!-- ckeditor5 -->
    <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 800px;
            max-height: 800px;
            min-width: 860px;
        }

        /*Toolbar*/
        .ck-editor__top {
            min-width: 860px;
        }
    </style>

    <!-- custom style -->
    <style>
        .editor-container {
            font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 16px;
            color: black;
        }
    </style>
</head>

<body layout:fragment="content">

    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <!-- title -->
                <form action="" class="d-flex justify-content-center">
                    <input id="input-title" placeholder="제목을 입력하세요" type="text"
                        style="min-width: 860px; height: 50px; background-color: white; color: black;">
                </form>
                <!-- ckeditor -->
                <div class="centered">
                    <div class="row row-editor">
                        <div class="editor-container">
                            <div class="editor">
                            </div>
                        </div>
                    </div>
                    <a href="/templates/index.html" th:href="@{/}" id="submitAnchor"><button
                            class="mt-3 btn btn-primary" id="submit">submit</button></a>
                </div>
            </div>
        </div>
    </main>


    <!-- ckeditor5 -->
    <script src="/static/ckeditor5/build/ckeditor.js" th:src="@{/ckeditor5/build/ckeditor.js}"></script>
    <!-- <script src="/static/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"
        th:src="@{/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js}"></script> -->
    <script src="/static/js/ckeditor/main.js" th:src="@{/js/ckeditor/main.js}"></script>
</body>

</html>