<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-bs-theme="auto"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/default}">

<head>
    <title>글 수정</title>

    <!-- ckeditor5 -->
    <link rel="icon" type="image/png" href="https://c.cksource.com/a/1/logos/ckeditor5.png">
    <link rel="stylesheet" type="text/css" href="/static/css/ckeditor5.css" th:href="@{/css/ckeditor5.css}">

    <!-- ckeditor5 -->
    <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 800px;
            max-height: 800px;
            min-width: 860px;
        }

        /*Toolbar*/
        .ck-editor__top {
            min-width: 860px;
        }
    </style>

    <style>
        header {
            font-size: var(--bs-body-font-size);            
        }
    </style>
    <!-- <script src="/static/bootstrap/js/color-modes.js" th:src="@{/bootstrap/js/color-modes.js}"></script> -->
    <!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"> -->
</head>

<body layout:fragment="content">
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <!-- title -->
                <form action="" class="d-flex justify-content-center mb-5">
                    <input th:value="${page.title}" id="input-title" placeholder="제목을 입력하세요" type="text"
                        style="min-width: 860px; height: 40px;">
                </form>
                <!-- ckeditor -->
                <div class="centered">
                    <div class="row row-editor">
                        <div class="editor-container">
                            <div class="editor">
                            </div>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-primary">Primary</button> -->
                    <a href="/templates/index.html" th:href="@{/}" id="submitAnchor"><button
                            id="submit">submit</button></a>
                </div>

            </div>
        </div>
    </main>



    <script>
        const pageId = '[[${page.id}]]'
    </script>

    <!-- ckeditor5 -->
    <script src="/static/ckeditor5/build/ckeditor.js" th:src="@{/ckeditor5/build/ckeditor.js}"></script>
    <script src="/static/js/ckeditor/edit.js" th:src="@{/js/ckeditor/edit.js}"></script>

    <script>
        window.onload = function () {
            // thymeleaf 이스케이프 처리 하는 문법 
            const title = '[[${page.title}]]';
            // 이스케이프 처리 하지 않는 문법  
            const content = '[(${page.content})]';

            // ckeditor5 editor 레퍼런스 
            const domEditableElement = document.querySelector('.ck-editor__editable');
            // ckeditor5 editor 인스턴스 
            const editorInstance = domEditableElement.ckeditorInstance;
            // 작성된 content setData 로 삽입해서 유저가 수정 가능하도록 함 
            editorInstance.setData(content);
        }
    </script>

</body>

</html>