<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/default}">

<head>
  <title>글 보기</title>
  <style>
    .title {
      font-weight: bold;
      font-size: x-large;
    }
  </style>
</head>

<body layout:fragment="content">
  <main>

    <div class="album py-5 bg-body-tertiary">
      <!-- view -->
      <div class="container">
        <p class="title" th:text="${page.title}">Title</p>
        <p th:utext="${page.content}">Content</p>
      </div>
    </div>
    <!-- comment -->
    <div class="album py-5 bg-body-secondary">
      <div class="container">
        <div class="input-group d-flex justify-content-center" style="min-width: 860px; width: 860px;">
          <span class="input-group-text">댓글</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
    </div>

  </main>
</body>

</html>