<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/default}">

<head>
  <title>글 보기</title>
  <style>
    .title {
      font-weight: bold;
      font-size: x-large;
    }

    .comment-createdTime {
      font-size: xx-small;
      color: gray;
      margin-bottom: 0.5rem;
    }

    .comment-memberName {
      margin-bottom: 0;
    }

    .comment-deleteAnchor {
      margin-left: 10px;
      font-size: xx-small;
      color: gray;
      margin-bottom: 0.5rem;
    }
  </style>
</head>

<body layout:fragment="content">
  <main>
    <div class="album py-5 bg-body-tertiary">
      <!-- view -->
      <div class="container">
        <p class="title" th:text="${page.title}">Title</p>
        <p th:utext="${page.content}">Content</p>
      </div>
    </div>
    <!-- comment -->
    <section >
      <div class="container">
        <div class="row">
          <!-- comment 뷰 -->
          <div id="commentListBox" class="col-sm-5 col-md-6 col-12 pb-4">
            <h1>Comments</h1>
            <!-- <div class="comment mt-4 text-justify float-left">
              <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
              <h4>Jhon Doe</h4>
              <span>- 20 October, 2018</span>
              <br>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero
                sequi velit molestias doloremque molestiae dicta?</p>
            </div> -->
          </div>
          <!-- comment 작성 -->
          <!-- 로그인시 보이는 영역 -->
          <div sec:authorize="isAuthenticated()" class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
            <form id="algin-form">
              <div class="form-group">
                <h4>Leave a comment</h4>
                <textarea name="msg" id="commentSubmitTextArea" msg cols="30" rows="5" class="form-control"
                  style="background-color: black;"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" id="commentSubmitBtn" class="btn">Post Comment</button>
              </div>
            </form>
          </div>
          <!-- 로그인 아닐시 보이는 영역 -->
          <div sec:authorize="isAnonymous()" class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
            <form id="algin-form">
              <div class="form-group">
                <h4><a href="/templates/login.html" th:href=@{/login}>Login</a> to leave a comment</h4>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script>
    const pageId = '[[${page.id}]]';
    const commentSubmitBtn = document.getElementById('commentSubmitBtn')
    const commentSubmitTextArea = document.getElementById('commentSubmitTextArea');
    const commentListBox = document.getElementById('commentListBox')

    // comment 작성 영역은 로그인 아닐시 존재하지 않음 
    if (commentSubmitBtn) {
      commentSubmitBtn.addEventListener('click', function (event) {
        event.preventDefault();
        sendCommentToServerAjax();
        commentSubmitTextArea.value = "";
      });
    }

    // 서버로 작성된 댓글 정보 보냄 
    function sendCommentToServerAjax() {
      const formData = new FormData();
      formData.append("pageId", pageId);
      formData.append("comment", commentSubmitTextArea.value);

      const sendCommentDataXhr = new XMLHttpRequest();
      sendCommentDataXhr.open("POST", "/comments", true);
      sendCommentDataXhr.onload = function () {
        if (sendCommentDataXhr.status === 200) {
          console.log("Files uploaded successfully");
          getComments();
        } else {
          console.log("Files upload failed")
        }
      };
      sendCommentDataXhr.send(formData);
    }

    // 서버에서 댓글들 불러와서 commentListBox 에 append, 기존에 있던 댓글들 다 지우고 통째로 가져와서 다시 디스플레이
    function getComments() {

      const xhr = new XMLHttpRequest();
      xhr.open("GET", "/pages/" + pageId + "/comments", true);

      xhr.onreadystatechange = function () {
        if (xhr.readyState == XMLHttpRequest.DONE) {
          if (xhr.status == 200) {
            // commentListBox 비운 후 등록된 댓글들 불러오기 
            commentListBox.innerHTML = "";
            let commentHeader = document.createElement('h1')
            commentHeader.innerText = 'Comments'
            commentListBox.appendChild(commentHeader)

            // comment.commentContent, comment.createdTime, comment.memberName
            let comments = JSON.parse(xhr.responseText);

            comments.forEach(function (comment) {
              //console.log(comment.id);

              // container 
              let container = document.createElement('div');
              container.classList.add('comment', 'mt-4', 'text-justify', 'float-left')
              // memberName
              let memberName = document.createElement('h4');
              memberName.classList.add('comment-memberName')
              memberName.innerText = comment.email;
              // createdTime 
              let createdTime = document.createElement('span')
              createdTime.classList.add('comment-createdTime')
              const date = new Date(comment.createdTime);
              const datePart = date.toISOString().split("T")[0];
              const timePart = date.toTimeString().split(" ")[0];
              createdTime.innerText = datePart + ". " + timePart;
              // delete anchor
              let deleteAnchor = document.createElement('a')
              deleteAnchor.classList.add('comment-deleteAnchor')
              deleteAnchor.href = '/comments/' + comment.id;
              deleteAnchor.innerText = '삭제';
              // commentContent
              let commentContent = document.createElement('p');
              commentContent.innerText = comment.commentContent;

              container.appendChild(memberName);
              container.appendChild(createdTime);
              container.appendChild(deleteAnchor);
              container.appendChild(document.createElement('br'));
              container.appendChild(commentContent);

              commentListBox.appendChild(container);
            })
          }
          else {
            console.error("getComments failed");
          }
        }
      }
      xhr.send();
    };

    ///////////////////////////////// DELETE COMMENT 
    function deleteComment(commentDeleteAnchor) {

      console.log(commentDeleteAnchor.href)
      const deleteCommentXhr = new XMLHttpRequest();
      deleteCommentXhr.open("DELETE", commentDeleteAnchor.href, true);

      deleteCommentXhr.onload = function () {
        if (deleteCommentXhr.status === 200) {
          console.log("Comment deleted successfully");
          getComments(); // 댓글 서버에서 삭제 완료 후 다시 댓글들 랜더링 
        } else {
          console.log("Comment delete failed")
          alert("권한이 없습니다.");
        }
      };
      deleteCommentXhr.send();
    }

    commentListBox.addEventListener("click", function (event) {
      if (event.target.matches(".comment-deleteAnchor")) {
        event.preventDefault();
        // 정말 삭제하시겠습니까? 팝업 띄워서 사용자가 확인 누르면 댓글 삭제 
        if (confirmDelete()) {
          deleteComment(event.target);
        }
      }
    });

    function confirmDelete() {
      var confirmation = confirm("정말 삭제하시겠습니까?");
      return confirmation;
    }


    window.onload = function () {
      getComments();
    };

  </script>
</body>

</html>