<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>

</head>

<body>
    <div id="editor"></div>
    <button id="submit">Submit</button>
  
    <!-- ckeditor5 -->
    <script type="module" src="/static/js/ckeditor/main.js" th:src="@{/js/ckeditor/main.js}"></script>
</body>

</html>